<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hzuapps.androidlabs.homeworks.net1414080903213">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Net1414080903213_Activity"
            android:label="安卓备忘录">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Net1414080903213_Schedule"
            android:label="日程安排">
        </activity>
        <activity android:name=".Net1414080903213_Note"
            android:label="笔记本">
        </activity>
        <activity android:name=".Net1414080903213_Calendar"
            android:label="日历">
        </activity>
    </application>

</manifest>